$font: 'Montserrat', 'Roboto', sans-serif;

$font-color: #56577D;
$font-color-2: #3D3E59;
$font-color-3: #7B7CA6;
$details-color: #B9BACF;

$accent-color: linear-gradient(to right, #0019FF, #FF00A8);
$bg-color: #F6F6F9;

$to-do-theme: #00A3FF;
$in-work-theme: #6100FF;
$not-done-theme: #FF008A;
$done-theme: #00FF1A;

$form-attachment: #00FF1A;
$form-save-button: #00FF1A;
$error: #FF008A;

// Task themes
$task-theme-color: #C1E9FF;

$theme-color: #C1E9FF;
$theme-color-active: #FFC1EA;